:root {
  font: 16px / 1 sans-serif;
  /* SDG Colors */
  --bright-sky: #80ced2;
  --night-sky: #85577e;
  --sun: #d5562b;
  --sea: #5a9090;
  --sand: #f7f0da;
  --asphalt: #2f3737;
  --lime: #b1d133;
  --tangerine: #f99d1b;
  /* Favicon Colors */
  --big-d: #00b7ff;
  --cessna: #5e5e5e;
  --orange-sun: #f15a24;
  --yellow-sun: #fcee21;
  --cyan-ocean: #00bfe9;
  --blue-ocean: #00217f;
  /* Custom Webpage Colors */
  --pale-green: #e1eedd;
  --mando-blue: #1857a4;
  --slate: #c8d8e4;
  /* Auto Colors */
  --beau-blue: #c8d8e4ff;
  --honeydew: #e1eeddff;
  --lapis-lazuli: #336699ff;
  --charcoal: #2f4858ff;
  --international-orange-aerospace: #fe5d26ff;
  --amazon: #4a7c59ff;
  --copper: #a8763eff;
  --bdazzled-blue: #1857a4ff;
  --byzantium: #7a3b69ff;
  /* Custom Text Colors */
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  // Gradients
  --logo-gradient: linear-gradient(135deg, #d7d2cc 10%, #304352 100%);
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

/*-------------Layout-------------*/
body {
  line-height: 1.5em;
  padding: 0;
  margin: 0;
  background-color: var(--pale-green);
}

#root {
  height: 100vh;
}

// /*-------------Helpers-------------*/
// .skew {
//   transform: skew(-20deg);
// }

// .un-skew {
//   transform: skew(20deg);
// }

// /*-------------Header-------------*/
// #main-header {
//   // overflow: hidden;
//   width: 100%;
//   margin: 0 auto;
//   // position: sticky;
//   // top: 0;
//   // left: 0;
//   // z-index: 100;
// }

// #header-content {
//   background-color: #fff;
//   box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
//   display: flex;
//   flex-direction: column;
//   font-family: 'Saira Semi Condensed', sans-serif;
//   height: 4em;
//   overflow: hidden;
// }

// #header-content.nav-visible {
//   height: 100%;
//   overflow: auto;
// }

// .header-alignment {
//   display: flex;
//   height: 4em;
//   line-height: 4em;
//   flex-grow: 1;
// }

// .header-link,
// .logo {
//   padding: 0 1em;
// }

// span.gradient {
//   // background: #f857a8;
//   // background: -webkit-linear-gradient(45deg, #f857a8, #ff5858);
//   // background: linear-gradient(45deg, #f857a8, #ff5858);
//   // background: linear-gradient(135deg, #50cc7f 10%, #f5d100 100%);
//   // background: linear-gradient(135deg, #bdc2e8 10%, #e6dee9 100%);
//   // background: linear-gradient(135deg, #9be15d 10%, #00e3ae 100%);
//   // background: linear-gradient(135deg, #b3ffab 10%, #12fff7 100%);
//   // background: linear-gradient(135deg, #FFFEFF 10%, #D7FFFE 100%);
//   // background: linear-gradient(135deg, #247BA0 10%, #FFFFB5 100%);
//   background: var(--logo-gradient);
//   padding: 0 1em;
//   position: relative;
//   right: 1em;
//   margin-right: auto;
// }

// span.gradient:hover {
//   animation-name: logo-hover;
//   animation-duration: 0.3s;
//   animation-fill-mode: forwards;
//   animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
// }

// // h1.logo a, a:active, a:hover, a:visited {
// //   text-decoration: none;
// //   color: #fff;
// // }

// .logo-box {
//   transform: translateY(7px);
//   box-shadow: 0 0rem 1.25rem rgba(0, 0, 0, 0.5);
//   height: 40px;
//   padding: 5px;
//   border-radius: 15px;
//   fill: #494949;
// }

// .logo-box img {
//   height: 40px;
//   width: 40px;
// }

// .header-link {
//   text-transform: uppercase;
//   text-align: center;
//   border-top: 0.5px solid #ddd;
// }

// a:link,
// a:visited,
// a:active {
//   text-decoration: none;
//   color: #f857a8;
// }

// a:hover {
//   text-decoration: underline;
// }

// .right {
//   display: flex;
//   flex-direction: column;
//   height: 100%;
// }

// .btn-nav {
//   color: #f857a8;
//   padding-left: 2em;
//   padding-right: 2em;
// }

// @media (min-width: 800px) {
//   // #header-content-wrapper {
//   //   overflow: hidden;
//   // }

//   #header-content {
//     overflow: hidden;
//     flex-direction: row;
//   }

//   .logo-box img {
//     height: 40px;
//     width: 40px;
//   }

//   .right {
//     // overflow: hidden;
//     flex-direction: row;
//     justify-content: flex-end;
//     position: relative;
//     left: 1.5em;
//     // height: auto;
//   }

//   .header-alignment a:link.active,
//   a:visited.active {
//     // background: #f857a8;
//     // background: -webkit-linear-gradient(45deg, #f857a8, #ff5858);
//     // background: linear-gradient(45deg, #f857a8, #ff5858);
//     background: var(--logo-gradient);
//     color: #fff;
//   }

//   .header-link-span {
//     transform: skew(20deg);
//     display: inline-block;
//   }

//   .header-link {
//     transform: skew(-20deg);
//     color: #777;
//     text-decoration: none;
//   }

//   .header-link:last-child {
//     padding-right: 3em;
//   }

//   a:hover.header-link:not(.active) {
//     color: #444;
//     background: #ddd;
//     background: linear-gradient(45deg, #fff, #ddd);
//   }
// }

// @keyframes logo-hover {
//   20% {
//     padding-right: 0em;
//   }
//   100% {
//     padding-right: 5em;
//   }
// }

// footer img {
//   width: 50px;
//   height: 50px;
// }

// footer {
//   text-align: center;
//   padding: 3px 3px 0px 3px;
/* padding-top: 3px; */
/* padding-left: 3px; */
/* padding-right: 3px; */
/* padding-bottom: none; */
// background-color: #613318;
// background-color: #772f1a;
//   background: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
//   color: white;
//   display: block;
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   /* width: 100%; */
//   /* color: #fff; */
// }

// footer svg {
//   height: 50px;
//   width: 50px;
// }

// footer::after {
//   content: url('./images/black-bear.svg');
//   // content-size: 10px 20px;
//   line-height: 0;
//   position: absolute;
//   top: 0;
//   right: 50%;
//   transform: translate(55vw, -55%) scale(0.25);
//   width: 420px;
// }

// .slideshow-container {
//   position: relative;
//   text-align: center;
// }

// .slide {
//   // display: none;
//   animation-name: fade;
//   animation-duration: 1.5s;
// }

// .slide-caption {
//   color: #f2f2f2;
//   font-size: 15px;
//   padding: 8px 12px;
//   position: absolute;
//   bottom: 8px;
//   width: 100%;
//   text-align: center;
// }

// .slide-numbertext {
//   color: #f2f2f2;
//   font-size: 12px;
//   padding: 8px 12px;
//   position: absolute;
//   top: 0;
// }

// .slide-numbertext + img {
//   width: 600px;
//   // width: 1366px
//   // max-width: 100%;
//   height: 300px;
//   // height: 752px;
//   display: block;
//   position: relative;
//   text-align: center;
// }

// .slide-numbertext + img::before {
//   background-color: hsl(0, 0%, 93.3%);
//   border: 1px dashed hsl(0, 0%, 66.7%);
//   height: 100%;
//   display: block;
//   content: '';
//   position: absolute;
//   width: 100%;
// }

// .slide-numbertext + img::after {
//   font-weight: bold;
//   position: absolute;
//   height: 100%;
//   left: 0px;
//   text-align: center;
//   top: 1px;
//   width: 100%;
// }

// .slide-numbertext img[alt] {
//   text-align: center;
//   font-weight: bold;
//   color: hsl(0, 0%, 60%);
// }

// .slide-dots {
//   text-align: center;
// }

// .slide-dot {
//   height: 15px;
//   width: 15px;
//   margin: 0 2px;
//   background-color: #bbb;
//   border-radius: 50%;
//   display: inline-block;
//   transition: background-color 0.6s ease;
// }

// .slide-active {
//   background-color: #717171;
// }

// @keyframes fade {
//   from {
//     opacity: 0.4;
//   }
//   to {
//     opacity: 1;
//   }
// }

// Sign In CSS
// .page nav {
//   display: flex;
// }

// .page nav a,
// .page nav h2 {
//   font-size: 1.5rem;
//   margin: 1rem 0.5rem 1rem 0;
// }

// .page nav > * + *::before {
//   content: '>';
//   margin-right: 0.5rem;
// }

// .sign-in {
//   padding: 10px;
//   margin: 10px;
//   border-radius: 15px;
//   border: 3px solid black;
//   justify-content: center;
//   align-items: center;
//   height: 80%;
//   display: flex;
//   margin-top: 20px;
// }
