footer img {
  width: 50px;
  height: 50px;
}

footer {
  text-align: center;
  padding: 3px 3px 0px 3px;
  background: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer svg {
  height: 50px;
  width: 50px;
}

footer::after {
  content: url('../images/black-bear.svg');
  line-height: 0;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(55vw, -55%) scale(0.25);
  width: 420px;
}
