footer img {
  width: 50px;
  height: 50px;
}

footer {
  text-align: center;
  padding: 3px 3px 0px 3px;
  background: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer svg {
  height: 50px;
  width: 50px;
}

footer::before {
  content: url('../icons/footer/mountains8.svg');
  line-height: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-40vw, -110%) scale(1.5);
  width: 72px;
}

footer::after {
  content: url('../icons/footer/bears.svg');
  line-height: 0;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(45vw, -89%);
  width: 420px;
  z-index: -1;
}
