.project-title-container {
  background-color: #b6b6b6;
  padding: 2px;
  width: max-content;
  border-radius: 15px;
  outline: 1px solid black;
  display: flex;
  transform: translate(160px, 95px);
}

.project-title {
  background-color: #fffde4;
  width: max-content;
  height: 245px;
  margin: 20px;
}

.mini-map-container {
  margin: 3rem;
  border-image-source: url('../images/map/map-border.svg');
  border-image-slice: 10% 8% 10% 8% fill;
  border-image-width: 2rem;
  border-image-outset: 1.4rem;
  border-image-repeat: stretch stretch;
  position: absolute;
  overflow: hidden;
  height: 300px;
  width: 300px;
  transform: translate(750px, -250px);
}

.mapboxgl-map {
  border-radius: 5px;
}

.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-bottom-left {
  display: none;
}

.full-screen-container {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: white;
  margin-left: 5px;
  margin-top: 5px;
  transform: translateY(240px);
  box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
}

.full-screen-container:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.full-screen-container img {
  width: 50px;
  height: 50px;
}

.mini-map-pin {
  height: 30px;
  width: 30px;
}
